# Java core service
KAFKA_BOOTSTRAP_SERVERS=kafka:29092
APP_TOPICS_MAIN=events.main
APP_TOPICS_RETRY=events.retry
APP_TOPICS_DLQ=events.dlq

# Go producer
GO_PRODUCER_KAFKA_BROKERS=kafka:29092
GO_PRODUCER_TOPIC=events.main
GO_PRODUCER_METRICS_ADDR=:2113
GO_PRODUCER_BURST_SIZE=500

# Go consumer
GO_CONSUMER_KAFKA_BROKERS=kafka:29092
GO_CONSUMER_GROUP_ID=go-consumer-group
GO_CONSUMER_MAIN_TOPIC=events.main
GO_CONSUMER_RETRY_TOPIC=events.retry
GO_CONSUMER_DLQ_TOPIC=events.dlq
GO_CONSUMER_REDIS_ADDR=redis:6379
GO_CONSUMER_POSTGRES_URL=postgres://postgres:postgres@postgres:5432/eventing?sslmode=disable
GO_CONSUMER_METRICS_ADDR=:2112
GO_CONSUMER_MAX_RETRIES=3
